/* Calnedar.css */

/* Style for the main container */
.main-container {
  position: relative;
  height: 15vh;
}

/* Style for the Google Sign In/Out button */
.googlebutton {
  position: absolute;
  top: 20px; /* Adjust this value as needed */
  left: 20px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  background-color: #d9dce1; /* Google Blue */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.googlebutton:hover {
  background-color: #f18ecb; /* Darker shade of Google Blue */
}

/* Styling the FcGoogle icon within the button */
.googlebutton .react-icons {
  margin-right: 10px;
  font-size: 1.5em;
}
