/* style.css */

.chat-container {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
}

.chat-header {
  text-align: center;
  background-color: #f18ecb;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.chat-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.chat-body h3 {
  margin-bottom: 20px;
}

.message-bubble {
  margin-left: auto; /* Pushes the element to the right */
  width: 120px; /* Define a fixed width */
  height: 40px; /* Define a fixed height */
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f18ecb;
  cursor: pointer;
  margin-left: auto; /* Pushes the element to the right */
}

.addQueue {
  border: none; /* Remove border */
  color: white; /* White text */
  text-align: center; /* Center text */
  text-decoration: none;
  display: block; /* Change display to block to make the button display as a block element */
  font-size: 16px;
  margin: 10px auto; /* Margin to position the button */
  cursor: pointer;
  padding: 10px 20px; /* Padding around the text */
  border-radius: 8px; /* Rounded border */
  transition-duration: 0.4s;
}

.addQueue:hover {
  color: white;
}



.message-bubble :hover{
  background-color: #f3eaea;

}

.calendar-container {
  margin-top: 20px;
}




/* Style for the parent container */
/* Change the inline-flex layout as per your requirements */
/* This is just a basic example */
div[style='display: inline-flex; flex-direction: column;'] {
  align-items: center;
}

h2 {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Optional: Set a width to limit the space for the flex container */
}

.H2Chat{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%; /* Optional: Set a width to limit the space for the flex container */
}
.RxExit {
  margin-left: auto;
}
