.SearchUser {
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .searchIcon {
    position: absolute;
    top: 41%;
    right: 400px;
    transform: translateY(-50%);
    color: #666; /* Adjust the color as needed */
    cursor: pointer;
  }
  